.title {
    text-align: center;
}
mat-dialog-content {
    justify-content: center;
    padding-top: 1rem;
}

mat-dialog-actions {
    justify-content: center;
    padding-bottom: 1.5rem;
}

section {
    justify-content: center;
    padding-top: 1rem;
}

.center {
    padding-left: 5rem;
}

.block {
    display: block;
    padding-bottom: 1rem ;
}

.fl-left {
    float: right;
    cursor: pointer;
}